<div>

  <div style="width: 200px; margin: auto; margin-top: 50px; margin-bottom: 50px;" *ngIf="isWait">
  <mat-progress-spinner mode="indeterminate" class="custom-spinner" *ngIf="isWait"></mat-progress-spinner>
  </div>
  <!-- <div class="content" *ngIf="isWait === false">
    <ol  type="1">
      <li *ngFor="let claim of claims; let id = index">
        <a routerLink="/claim/{{ claim._id }}">
          <span>{{ claim.name }}</span>
        </a>
      </li>
    </ol>
  </div> -->

  <!-- <mat-list *ngIf="isWait === false">
    <mat-list-item *ngFor="let claim of claims; let id = index">
      <a routerLink="/claim/{{ claim._id }}">
        <span>{{ claim.name }}</span>
      </a>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list> -->


  <mat-list *ngIf="isWait === false">
    <div mat-subheader>Results: {{claims.length}}</div>
    <mat-list-item *ngFor="let claim of claims; let id = index">
      <mat-icon mat-list-icon>work_outline</mat-icon>
      <div mat-line>
        <a routerLink="/claim/{{ claim._id }}">
          <span>{{ claim.name }}</span>
        </a>
      </div>
      <div mat-line> {{ claim.ssn }} | option</div>
      <mat-divider></mat-divider>
    </mat-list-item>
    
    <!-- <div mat-subheader>Notes</div>
    <mat-list-item *ngFor="let note of notes">
      <mat-icon mat-list-icon>note</mat-icon>
      <div mat-line>{{note.name}}</div>
      <div mat-line> {{note.updated | date}} </div>
    </mat-list-item> -->
  </mat-list>

  <div *ngIf="claims.length == 0 && isWait === false">
    <p>No results found!</p>

  </div>
</div>
