
<div *ngIf="claim" class="claim-detail-container">
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child notification">
                <div class="content">
                    <a (click)="goBack()" class="go-back-link"><div class="arrow-left"></div></a>
                    <!-- <a (click)="goBack()"><mat-icon mat-list-icon>arrow_back_ios</mat-icon></a> -->
                    <div class="quick-info">
                    <p class="title">{{claim.name}}</p>
                    <p class="subtitle">{{claim.ssn}}</p>
                    </div>
                    <div class="content">
                        <!-- Content -->
                    </div>
                </div>
            </article>
        </div>
        <div class="tile is-vertical is-8">
            <!-- <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-primary">
                        <p class="title">Vertical...</p>
                        <p class="subtitle">Top tile</p>
                    </article>
                    <article class="tile is-child notification is-warning">
                        <p class="title">...tiles</p>
                        <p class="subtitle">Bottom tile</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-info">
                        <p class="title">Middle tile</p>
                        <p class="subtitle">With an image</p>
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/640x480.png">
                        </figure>
                    </article>
                </div>
            </div> -->
            <div class="tile is-parent">
                <article class="tile is-child notification">
                    <p class="title">Details</p>
                    <!-- <p class="subtitle">Aligned with the right tile</p> -->
                    <div class="content">
                        <!-- Content -->
                        <label>Customer number</label>
                        <p>{{claim.custNo}}</p>
                        <label>Phone number</label>
                        <p>{{claim.phoneNum}}</p>
                        <label>Address</label>
                        <p>{{claim.address}}</p>
                        <label>Postal code</label>
                        <p>{{claim.postCode}}</p>
                        <label for="desc">Description</label>
                        <p>{{claim.desc}}</p>
                        
                    </div>
                </article>
            </div>
        </div>
        
</div>


<!-- <button (click)="goBack()" class="button">go back</button> -->

</div>