.claim-detail-container article {
  background-color: #fff;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;

  border-right: 15px solid #004c28;
}

.go-back-link {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}

.quick-info {
    display: inline-block;
}
