.head {
    background: #004C28;
    height: 50px;
    color: #fff;
    padding: 10px;
}

.head a {
    color: #fff;
}

.search-block {
    background-color: #fafafa;
}

/* .search-block-inline {
    padding: 20px;
}

.search-block-inline input {
    display: inline-block;
    width: 200px;
    margin-left: 10px;
} */