
<div class="container">
  <header class="head">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
            <!-- <a><i class="fas fa-home"></i></a> -->
            <a href="/home"><mat-icon role="img">home</mat-icon></a>
            <!-- <a href="/home"><p class="level-item">Home</p></a> -->
        </div>
      </div>
          
      <div class="level-right">
          <p class="level-item">Option 1</p>
          <p class="level-item"><a>Option 2</a></p>
          <p class="level-item"><a>Option 3</a></p>
          <p class="level-item"><a>Option 4</a></p>
          <div>

            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>person</mat-icon>
                <span *ngIf="user == null">Account</span>
                <span *ngIf="user != null">{{user.name}}</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Option 1</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Option 2</span>
              </button>
            </mat-menu>

          </div>
          <p class="level-item">
            <app-authentication-modal [usr]="user"></app-authentication-modal>
          </p>
      </div>
      
    </nav>
  </header>
  <div id="search-block" class="search-block">
    
    <app-search></app-search>
    <!-- (searchOutput)="parentMethod($event)"
    {{messageFromSearch}} -->

    <!-- <div class="search-block-inline">
      <input class="input" type="text" placeholder="Text input"/>
      <input class="input" type="text" placeholder="Text input"/>
      <input class="input" type="text" placeholder="Text input"/>
    </div>
    <div class="search-block-inline">
      <input class="input" type="text" placeholder="Text input"/>
      <input class="input" type="text" placeholder="Text input"/>
      <input class="input" type="text" placeholder="Text input"/>
    </div> -->
  </div>
  <router-outlet></router-outlet>

<!-- <table>
<tr></tr>
<tr *ngFor="let kk of mongoData;let id = index">
  <td>
    {{id + 1}}
  </td>
  <td>
    {{kk.name}}
  </td>
  <td>
    {{kk.desc}}
  </td>

</tr>
</table> -->


  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>
</div>

