.auth-container {
    width: 300px;
}

.auth-container input {
    color: #363636;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.auth-container span {
    color: #363636;
}

.auth header, footer {
    /* background-color: #004C28; */
    color: #fff;
}