<a (click)="onToggleAuthenticationModal()" *ngIf="usr == null">Log in</a>
<a *ngIf="usr != null">Log out</a>
<div *ngIf="showAuthenticationModal" class="modal auth" [ngClass]="showAuthenticationModal ? 'is-active' : '' ">
  <div class="modal" [ngClass]="showAuthenticationModal ? 'is-active' : '' ">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">My Account</p>
        <button class="delete" aria-label="close" (click)="onToggleAuthenticationModal()"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
        <p>Modal content</p>
        <div class="auth-container">
          <form [formGroup]="form" #formDir="ngForm">
            <!-- (ngSubmit)="onSubmit()" -->
            <div [hidden]="formDir.submitted">
              <div class="control has-icons-left has-icons-right" id="usr">
                <input class="input" type="text" placeholder="User name" id="username" formControlName="username"
                  required [ngClass]="(name.errors?.required || name.errors?.minlenght) ? 'is-warning' : '' ">
                <span class="icon is-small is-right">
                  <i class="fas fa-check" *ngIf="!name.errors"></i>
                </span>
              </div>
              <span *ngIf="!name.errors" style="display: block; height: 24px;">

              </span>
              <span *ngIf="name.errors?.required">
                Name is required.
              </span>
              <span *ngIf="name.errors?.minlength">
                Name must be at least 4 characters long.
              </span>
              <div class="control has-icons-left has-icons-right" id="pass">
              <input class="input" type="password" placeholder="Password" id="password" formControlName="password" required
                [ngClass]="(password.errors?.required || password.errors?.minlenght) ? 'is-warning' : '' ">
                <span class="icon is-small is-right">
                  <i class="fas fa-check" *ngIf="!password.errors"></i>
                </span>
              </div>
              <span *ngIf="!password.errors" style="display: block; height: 24px;">

              </span>
              <span *ngIf="password.errors?.required">
                Password is required.
              </span>
              <span *ngIf="password.errors?.minlength">
                Password must be at least 4 characters long.
              </span>
            </div>
          </form>
        </div>

      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" type="submit" [disabled]="form.invalid" (click)="authenticate()">Log in</button>
        <button class="button" (click)="onToggleAuthenticationModal()">Cancel</button>
      </footer>
    </div>
  </div>


</div>