:host {
  display: block;
}

.open-close-container {
  /* border: 1px solid #dddddd; */
  /* margin-top: 1em;
  padding: 20px 20px 0px 20px; */
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}

.search-block {
  background-color: #fafafa;
}

.search-block-inline {
  padding: 20px;
  display: flex;
}

.search-block-inline input {
  display: inline-block;
  width: 200px;
  margin-left: 10px;
}

.search-block-inline button {
  margin-left: 10px;
}

.search-block-trigger {
    width: 200px;
    margin: auto;
    text-align: center;
}

#searchOptionList {
  display: inline-block;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  margin: auto;
  border-bottom: 15px solid #004C28;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  margin: auto;
  border-top: 15px solid #004C28;
}
