<nav class="search-block-trigger">
  <!-- <button (click)="toggle()" class="button">Search</button> -->
  <!-- <p>Status: {{ isOpen ? 'Open' : 'Closed' }}</p> -->
  <!-- <i class="fas fa-angle-double-down"></i> -->
  <a (click)="toggle()"><div [ngClass]="isOpen ? 'arrow-up' : 'arrow-down' "></div></a>
  <!-- <span class="material-icons">
    expand_more
  </span>
  <span class="material-icons">
    expand_less
  </span> -->


  <!-- <a (click)="toggle()"><i class="fas fa-chevron-down"
      [ngClass]="isOpen ? 'fas fa-chevron-up' : 'fas fa-chevron-down' "></i></a> -->
</nav>

<div [@openClose]="isOpen ? 'open' : 'closed'" (@openClose.start)="onAnimationEvent($event)"
  (@openClose.done)="onAnimationEvent($event)" class="open-close-container">
  <div class="search-block-inline">


    <!-- <div class="dropdown" [ngClass]="isSearchDropdownOpen ? 'is-active' : '' ">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3" (click)="toggleDropdown()">
                <span>Select option</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu3" role="menu">
              <div class="dropdown-content">
                <a class="dropdown-item is-selected" #dd_search_id (click)="onSearchOptionSelect($event)">
                  Id
                </a>
                <a href="#" class="dropdown-item" #dd_search_name>
                  Name
                </a>
                <a href="#" class="dropdown-item">
                  Grid
                </a>
                <a href="#" class="dropdown-item">
                  Form
                </a>
                <a href="#" class="dropdown-item">
                  Elements
                </a>
                <a href="#" class="dropdown-item">
                  Components
                </a>
                <a href="#" class="dropdown-item">
                  Layout
                </a>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item">
                  More
                </a>
              </div>
            </div>
          </div> -->

    <!-- MATERIAL -->
    <!-- <div class="field" id="searchOptionList">
      <mat-form-field>
        <mat-label>Search option</mat-label>
        <mat-select [formControl]="searchOptionControl" required (change)="onSearchOptionSelect($event)">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let option of searchOptionList" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="searchOptionControl.hasError('required')">Please choose a search option</mat-error>
        
      </mat-form-field>
    </div> -->

    <!-- MATERIAL -->
    <!-- <mat-form-field class="example-full-width" *ngIf="searchOption === 'Search by Id' ">
      <mat-label>Search for</mat-label>
      <input matInput placeholder="Ex. Pizza" [(ngModel)]="searchById">
    </mat-form-field> -->

    <!-- MATERIAL -->
    <!-- <button mat-raised-button (click)="find()" class="button" routerLink="/search-results">Search</button> -->

    <!-- BULMA -->
    <div class="field" id="searchOptionList">
            <div class="control">
              <div class="select">
                <select (change)="onSearchOptionSelect($event)">
                  <option *ngFor="let option of searchOptionList">{{option}}</option>
                </select>
              </div>
            </div>
          </div>



    <!-- TODO fix *ngIf condition -->

    <input class="input" type="text" placeholder="Id" [(ngModel)]="searchById"
      *ngIf="searchOption === 'Search by Id' " />
    <input class="input" type="text" placeholder="Name" [(ngModel)]="searchByName"
      *ngIf="searchOption === 'Search by name' " />
    <input class="input" type="text" placeholder="Surname" [(ngModel)]="searchBySurname"
      *ngIf="searchOption === 'Search by surname' " />
    <input class="input" type="text" placeholder="SSN" [(ngModel)]="searchBySSN"
      *ngIf="searchOption === 'Search by ssn' " />

      <!-- MATERIAL -->
      <!-- <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->

    <button (click)="find()" class="button" routerLink="/search-results">Search</button>

  </div>
  <!-- <div class="search-block-inline">
        <input class="input" type="text" placeholder="SSN" #searchSsn/>
        <input class="input" type="text" placeholder="Text input" />
        <input class="input" type="text" placeholder="Text input" />
        <button (click)="findByName(searchName.value)" class="button" routerLink="/search-results">Search</button>        
    </div> -->
</div>

<!-- <app-search-results *ngFor="let claim of claims" [claim]="claim"></app-search-results> -->